/* Cards de receitas */
.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.recipe-card {
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInCard 0.8s ease;
  flex: 1 1 calc(25% - 20px); /* Exibe 4 cards por linha */
  max-width: calc(25% - 20px); /* 4 cards por linha */
}

@keyframes fadeInCard {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.recipe-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card img {
  width: 100%; /* A largura será 100% do contêiner */
  height: 160px; /* Reduzindo a altura para 160px */
  object-fit: cover; /* Corta a imagem para preencher o espaço */
  transition: transform 0.3s ease;
}

.recipe-card:hover img {
  transform: scale(1.1); /* Efeito de zoom na imagem ao passar o mouse */
}

.recipe-card h3 {
  padding: 10px;
  font-size: 18px;
  background-color: #427a35;
  color: #fff;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .recipe-card {
      flex: 1 1 calc(50% - 16px);
      max-width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .recipe-card {
      flex: 1 1 100%;
      max-width: 100%;
  }
}
